.avatar {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  max-height: 100%;
  image-rendering: auto;
  object-fit: cover;
}

.avatar.small {
  width: 20px;
  font-size: 1rem;
}

.avatar.medium {
  width: 80px;
}

.fallback {
  width: 80px;
  background: var(--color-border);
  color: var(--color-background);
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fallback.original {
  width: 100%;
  font-size: 64px;
}
