.container {
  display: block;
  padding: 8px;
  margin: -4px -2px;
}

.shortcuts {
  float: right;
  margin: 8px 0px;
}

.menu {
  display: inline-block;
  margin: 4px 2px;
}

.button {
  display: none;
}

.breadcrumbs {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: baseline;
  margin: 0 4px -4px 0;
  max-width: 100%;
}

.link {
  text-decoration: none;
  color: var(--color-text-selected);
}

.link:hover {
  color: var(--color-text-selected-hover);
}

@media only screen and (min-width: 555px) {
  .menu {
    display: none;
  }

  .button {
    display: inline-block;
    margin: 4px 2px;
  }
}
