.button {
  padding: 0 8px;
  appearance: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  outline: none;
  color: var(--color-text);
}

.button:focus,
.button:hover {
  color: var(--color-text-hover);
}
