.table {
  display: block;
  border-spacing: 0;
  line-height: 1.25;
  cursor: default;
}

.header {
  display: block;
  color: var(--color-text-light);
}

.body {
  display: block;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.label {
  display: block;
  text-align: left;
  font-weight: normal;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active:hover,
.lightLabel {
  color: var(--color-text-light);
}

.value {
  display: block;
  text-align: right;
  font-weight: normal;
  padding: 0 0 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  text-decoration: none;
  color: inherit;
}

.selected {
  color: var(--color-text-selected);
}

.selected:hover {
  color: var(--color-text-selected-hover);
}

.virtualItem {
  width: 100%;
}

.icon {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

.shrink_value .label {
  flex-shrink: 0;
}

.shrink_label .value {
  flex-shrink: 0;
}
