.comments {
  display: flex;
  flex-flow: column nowrap;
  padding: 4px 8px 8px 8px;
  gap: 12px;
}

.group {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
}

.title {
  color: var(--color-text-light);
  font-weight: normal;
  font-size: inherit;
  margin: 0;
  line-height: 1.25;
}

.comment {
  padding-left: 8px;
}

.reply {
  padding-left: 36px;
}

.fallback {
  color: var(--color-text-light);
  align-self: center;
}
