.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  align-items: baseline;
}

.label {
  color: var(--color-text);
  white-space: nowrap;
}

.vertical {
  flex-flow: column nowrap;
  align-items: normal;
}

.input {
  appearance: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  padding: 1px 2px;
  min-height: 20px;
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

input::selection {
  background: var(--color-background);
  color: var(--color-text-selected-input);
}
