.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  align-items: baseline;
}

.label {
  color: var(--color-text);
  white-space: nowrap;
}

.input {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  padding: 1px 2px;
}

input::selection {
  background: var(--color-background);
  color: var(--color-text-selected-input);
}
