@font-face {
  font-family: 'MysticCards';
  src: url(../../fonts/MysticCards.ttf) format('truetype');
  font-display: swap;
}

:root {
  --color-text: #caa560;
  --color-text-light: #dfc89e;
  --color-text-hover: var(--color-text-light);
  --color-text-selected: #6070ca;
  --color-text-selected-hover: #9ea8df;
  --color-text-selected-input: #355a9f;
  --color-background: #000000;
  --color-background-selected: #2c3461;
  --size-panel-min-width: 250px;
  --size-panel-min-height: 200px;
  font-family: MysticCards, serif;
  font-size: 16px;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#page-view {
  display: flex;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}
