.container {
  display: grid;
  height: 100%;
  padding: 8px;
  gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'contentSelector'
    'content'
    'info'
    'publications'
    'comments';
  overflow-y: auto;
}

.contentSelector {
  grid-area: contentSelector;
  display: grid;
  padding: 4px;
  grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(84px, 1fr));
  gap: 4px;
}

.contentSelectorItem {
  min-width: 84px;
  min-height: 84px;
  box-sizing: border-box;
}

.content {
  grid-area: content;
  display: block;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.comments {
  grid-area: comments;
}

.publications {
  grid-area: publications;
}

@media only screen and (min-width: 812px) {
  .divider {
    display: none;
  }

  .container {
    grid-template-columns: minmax(min-content, 322px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'contentSelector info' 'content info';
    overflow: hidden;
    padding: 0 8px 8px 8px;
  }

  .container.withFullSizeContent {
    grid-template-columns: fit-content(802px) 1fr 1fr;
  }

  .container.published {
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'content info publications'
      'content comments comments';
  }

  .container.published.withContentSelection {
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      'contentSelector info publications'
      'content info publications'
      'content comments comments';
  }

  .container.published.video {
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'content info publications'
      'comments info publications';
  }

  .contentSelector {
    min-height: 92px;
  }

  .contentSelector,
  .info,
  .comments,
  .publications {
    overflow-y: auto;
  }
}

.selectedContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  /* min-width: 320px; */
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.youtubeVideo {
  aspect-ratio: 16 / 9;
  max-width: 100%;
}

.input {
  width: 100%;
}

.contentSelectorRadio {
  display: none;
}
