.button {
  padding: 0 8px;
  appearance: none;
  background: none;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  outline: none;
  color: var(--color-text);
  line-height: 1;
  max-height: 24px;
  white-space: nowrap;
  text-shadow: 1px 1px 1px black;
}

.button:focus,
.button:hover {
  color: var(--color-text-hover);
}

.buttonActive {
  color: var(--color-text-selected);
}

.buttonActive:focus,
.buttonActive:hover {
  color: var(--color-text-selected-hover);
}
