@font-face {
  font-family: 'MysticCards';
  src: url(../../assets/fonts/MysticCards.ttf) format('truetype');
}

:root {
  --color-text: #caa560;
  --color-text-light: #dfc89e;
  --color-background: #000000;
  font-family: MysticCards;
  font-size: 16px;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
}
