@font-face {
  font-family: 'MysticCards';
  src: url(../../assets/fonts/MysticCards.ttf) format('truetype');
}

:root {
  --color-text: #caa560;
  --color-text-light: #dfc89e;
  --color-text-hover: var(--color-text-light);
  --color-text-selected: #6070ca;
  --color-text-selected-hover: #9ea8df;
  --color-text-selected-input: #355a9f;
  --color-background: #000000;
  --color-background-selected: #2c3461;
  font-family: MysticCards;
  font-size: 16px;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

a {
  color: var(--color-text-selected);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--color-text-selected-hover);
}
