.container {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 8px;
  margin: 0 -2px -2px -2px;
  gap: 8px;
  overflow-y: auto;
}

.messages {
  grid-area: messages;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 8px;
}

.topics {
  display: flex;
  flex-flow: column nowrap;
  grid-area: topics;
  gap: 8px;
  padding: 8px;
  margin: 0;
  list-style: none;
}

.topic {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}

.topic:hover {
  color: var(--color-text-selected);
}

@media only screen and (min-width: 812px) {
  .container {
    display: grid;
    grid-template-columns: 1fr min(300px);
    grid-template-rows: 1fr;
    grid-template-areas: 'messages topics';
    overflow: hidden;
    padding: 0 8px 8px 8px;
    margin: 0;
    border: none;
  }

  .messages,
  .topics {
    overflow-y: auto;
  }
}
