.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: auto;
  gap: 0 8px;
  padding: 8px;
  cursor: default;
  text-decoration: none;
  color: inherit;
  grid-template-areas:
    'icon title published'
    'icon roles roles';
}

.icon {
  grid-area: icon;
}

.title {
  color: var(--color-text-light);
  white-space: nowrap;
  grid-area: title;
}

.roles {
  white-space: nowrap;
  grid-area: roles;
}

.published {
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 4px;
  grid-area: published;
}

.divider {
  grid-column: span 2;
}

.attributes {
  grid-column: span 2;
}
