.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  gap: 8px;
  padding: 8px;
  cursor: default;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  justify-content: flex-start;
}

.avatar {
  margin-top: 16px;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 3px;
}

.title {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  text-wrap: balance;
  color: var(--color-text-light);
}

.roles {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  text-wrap: balance;
}

.published {
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 4px;
}
