.title {
  color: var(--color-text-light);
}

.icon {
  margin-right: 4px;
}

.divider {
  width: 100%;
}

.publishableErrors {
  max-width: 240px;
  margin: 0;
  text-align: center;
  text-wrap: balance;
}

.image {
  margin: 4px 0;
  max-width: 240px;
  max-height: 320px;
}
