.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 4px;
}

.title {
  display: inline-flex;
}

.scrollContainer {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  /* Make scroller composited for faster scrolling,
   * the downside of that is that on lower
   * end devices Browser will scroll first and
   * then render DOM, making some content flash white.
   */
  will-change: transform;
}

.listItem {
  padding: 4px;
}
