.container {
  background: var(--color-background-map);
  overflow: hidden;
}

@media only screen and (hover: none) {
  .container {
    overflow: auto;
  }
}

.map {
  display: block;
  width: 954px;
  height: 854px;
  background: url(../../images/world-map.png);
  position: relative;
  image-rendering: pixelated;
}

.discovered {
  position: absolute;
  display: block;
  width: 954px;
  height: 854px;
  left: 0;
  top: 0;
  background: url(../../images/world-map-discovered.png);
  clip-path: url(#discoveredSvgPath);
  image-rendering: pixelated;
}

.cellMarker {
  position: absolute;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  background: url(../../images/world-map-cell-marker.png) no-repeat;
  background-position: 4px;
  z-index: 1;
  image-rendering: pixelated;
  pointer-events: none;
}

.compass {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: url(../../images/compass.png) no-repeat;
  image-rendering: pixelated;
  pointer-events: none;
  translate: -8px -10px;
  z-index: 2;
}
