.container {
  background: var(--color-background-map);
  position: relative;
  overflow: hidden;
}

@media only screen and (hover: none) {
  .container {
    overflow: auto;
  }
}

.map {
  display: block;
  width: 954px;
  height: 854px;
  background: url(../../images/world-map.png);
  position: relative;
  image-rendering: pixelated;
}

.discovered {
  position: absolute;
  display: block;
  width: 954px;
  height: 854px;
  left: 0;
  top: 0;
  background: url(../../images/world-map-discovered.png);
  clip-path: url(#discoveredSvgPath);
  image-rendering: pixelated;
}

.cellMarker {
  position: absolute;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  background: url(../../images/world-map-cell-marker.png) no-repeat;
  background-position: 4px;
  z-index: 1;
  image-rendering: pixelated;
  pointer-events: none;
}

.compass {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: url(../../images/compass.png) no-repeat;
  image-rendering: pixelated;
  pointer-events: none;
  translate: -8px -10px;
  z-index: 2;
}

.footer {
  position: sticky;
  margin: 0;
  left: 0;
  bottom: 0;
  padding: 4px 8px;
  cursor: default;
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  overflow: hidden;
  z-index: 2;
  align-items: center;
  height: 32px;
  box-sizing: border-box;
}

.worldLocationCount {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
  text-shadow: 1px 1px 1px black;
}

.currentLocationTitle {
  color: var(--color-text-light);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 0 auto;
  text-align: right;
  text-shadow: 1px 1px 1px black;
}

.resetButton {
  margin-left: 4px;
  margin-right: -4px;
}
