.tooltip {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 4px 8px;
  gap: 2px;
  position: fixed;
  background: var(--color-background);
  /* Compensate cursor size */
  left: 8px;
  top: 32px;
}
