.tooltip {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 4px 8px;
  gap: 2px;
  position: fixed;
  background: var(--color-background);
  /* Compensate cursor size */
  left: 8px;
  top: 0;
  z-index: 9999;
}

.actions {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
  margin-top: 4px;
}
