.title {
  color: var(--color-text-light);
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  margin-bottom: 2px;
}

.text {
  margin: 0;
}

.text a {
  color: var(--color-text-selected);
  text-decoration: none;
}

.text a:hover {
  color: var(--color-text-selected-hover);
}

.text.disableLinks a,
.text.disableLinks a:hover {
  color: inherit;
}

.violationTitle {
  color: var(--color-text-light);
  margin: 12px 0 2px 0;
}

.icon {
  margin-right: 4px;
}
