.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  max-width: 360px;
}

.selectWrapper {
  display: inline-block;
  max-width: 100%;
}

.select {
  width: 100%;
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  min-width: 0;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

.tagsFieldset {
  grid-column: span 2;
}

.tags {
  flex: 1 1 50%;
}

.request {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}

.authors {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}

.locations {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}

@media only screen and (min-width: 380px) {
  .form.useColumnLayout {
    display: grid;
    grid-template-columns: minmax(180px, 360px) minmax(180px, 360px);
    max-width: none;
  }
}
