.list {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
  padding: 4px;
  min-height: 96px;
  box-sizing: border-box;
}

.label {
  display: block;
  margin-bottom: 2px;
}

.item {
  cursor: move;
  max-width: 84px;
  touch-action: none;
  user-select: none;
}

.draggedItem {
  opacity: 0.5;
}

.dragOverlay {
  z-index: 99999;
}
