.wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.container:nth-child(1) {
  grid-area: content;
}

.container:nth-child(2) {
  grid-area: snapshot;
}

.container:nth-child(3) {
  grid-area: trash;
}

.toolbar {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
  grid-area: toolbar;
}

.list {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
  padding: 4px;
  min-height: 96px;
  box-sizing: border-box;
  flex: 1 1 auto;
  position: relative;
  align-content: flex-start;
}

.label {
  display: block;
  margin-bottom: 2px;
  flex: 0 0 auto;
}

.item {
  cursor: move;
  touch-action: none;
  user-select: none;
}

.draggedItem {
  opacity: 0.5;
}

.dragOverlay {
  z-index: 99999;
}

.preview {
  max-height: 84px;
}

.linksText {
  width: 300px;
  max-width: 100%;
  white-space: pre;
  overflow-wrap: normal;
}

@media only screen and (min-width: 380px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'content trash' 'snapshot trash' 'toolbar toolbar';
  }
}
