.container {
  display: flex;
  flex-flow: column nowrap;
}

.container:nth-child(3) {
  grid-column: span 2;
}

.list {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
  padding: 4px;
  min-height: 96px;
  box-sizing: border-box;
  flex: 1 1 auto;
}

.label {
  display: block;
  margin-bottom: 2px;
  flex: 0 0 auto;
}

.item {
  cursor: move;
  touch-action: none;
  user-select: none;
}

.draggedItem {
  opacity: 0.5;
}

.dragOverlay {
  z-index: 99999;
}

.preview {
  max-height: 84px;
}
