.container {
  display: grid;
  height: 100%;
  padding: 8px;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'contentSelector'
    'content'
    'main'
    'publications'
    'comments';
  overflow-y: auto;
}

.contentSelector {
  grid-area: contentSelector;
  display: grid;
  padding: 4px;
  grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(84px, 1fr));
  gap: 4px;
}

.contentSelectorItem {
  min-width: 84px;
  min-height: 84px;
  box-sizing: border-box;
}

.selectedContent {
  grid-area: content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* 
.selectedContent.loading {
  height: 100%;
} */
.content {
.contentPreviews {
  grid-area: content;
  padding: 8px;
}

.main {
  grid-area: main;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 8px;
}

.comments {
  grid-area: comments;
}

.publications {
  grid-area: publications;
}

@media only screen and (min-width: 812px) {
  .divider {
    display: none;
  }

  .container {
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'main content';
    overflow: hidden;
    padding: 0 8px 8px 8px;
  }

  .container.withContentSelection {
    grid-template-rows: auto 1fr;
    grid-template-areas: 'main contentSelector' 'main content';
  }

  .container.published {
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, max-content) minmax(min-content, 1fr);
    grid-template-rows: minmax(var(--size-panel-min-height), 1fr) minmax(var(--size-panel-min-height), auto);
    grid-template-areas:
      'main content publications'
      'main content comments';
  }

  .container.published.withContentSelection {
    grid-template-rows: auto minmax(min-content, max-content) 1fr;
    grid-template-areas:
      'main contentSelector publications'
      'main content publications'
      'main content comments';
  }

  .container.published.video {
    grid-template-columns: minmax(min-content, 1fr) fit-content(804px) minmax(min-content, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'main content publications'
      'main comments publications';
  }

  .contentSelector {
    min-height: 92px;
  }

  .main,
  .contentPreviews,
  .contentSelector,
  .attributes,
  .comments,
  .publications {
    overflow-y: auto;
  }
}

.selectedContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  /* min-width: 320px; */
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.youtubeVideo {
  aspect-ratio: 16 / 9;
  max-width: 100%;
  box-sizing: border-box;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
}

.titles {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  text-align: center;
  text-wrap: balance;
}

.title {
  color: var(--color-text-light);
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.titleRu {
  margin: 0;
}

.descriptions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 12px;
}

.description {
  margin: 0;
}

.publishedIcon {
  text-align: center;
}

.id {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4px;
  width: 100%;
}

.edit,
.location {
  display: inline-block;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
}

.spacer {
  flex-grow: 1;
}

.contentSelectorRadio {
  display: none;
}

.icon {
  margin-right: 4px;
}

.tableIcon {
  vertical-align: baseline;
}

.authors {
  display: flex;
  align-items: flex-end;
  flex-flow: row nowrap;
}
