.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  box-sizing: border-box;
  min-width: 200px;
  width: 200px;
  border: none;
}

.virtualContainer {
  flex: 1 1 auto;
}

.virtualItem {
  width: 100%;
  outline: none;
  position: relative;
  cursor: default;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 6px;
  padding: 1px 0;
}

.virtualItem:hover .intervalValue {
  color: var(--color-text-selected);
}

.barWrapper {
  flex: 1 1 auto;
}

.bar {
  min-width: 6px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, var(--color-loader-top), var(--color-loader-bottom));
  height: 6px;
}

.intervalValue {
  color: var(--color-text);
  margin: 0;
  flex: 0 0 auto;
}

.highlightedIntervalValue {
  color: var(--color-text-light);
}

.label {
  color: var(--color-text-light);
  margin: 0;
  text-align: center;
  flex: 0 0 auto;
}
