.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px 16px;
  box-sizing: border-box;
  height: 400px;
  max-height: 100%;
  max-width: 100%;
}

.link {
  text-decoration: none;
  color: var(--color-text-selected);
}

.link:hover {
  color: var(--color-text-selected-hover);
}

.variantWrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  flex: 1 1 auto;
  width: 320px;
  max-width: 100%;
}

.variantDescription {
  margin: 0;
}

.violations {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

@media only screen and (min-width: 512px) {
  .container {
    flex-flow: row nowrap;
    max-width: none;
    max-height: 100%;
    height: 285px;
  }
}
