.progressBar {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.bar {
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(to bottom, var(--color-loader-top), var(--color-loader-bottom));
  transition: width 0.25s ease-out;
}
