.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  align-items: baseline;
}

.label {
  color: var(--color-text);
  white-space: nowrap;
}

.label.alignEnd {
  order: 1;
}

.vertical {
  flex-flow: column nowrap;
  align-items: initial;
}

.vertical > .label {
  overflow: hidden;
  text-overflow: ellipsis;
}
