.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  align-items: baseline;
}

.label {
  color: var(--color-text);
  white-space: nowrap;
}

.vertical {
  flex-flow: column nowrap;
  align-items: normal;
}
