.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  margin: 0;
  height: 315px;
}

.tabs {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}

.variants {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.variant {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'icon title' 'icon description';
  padding: 6px;
  flex-flow: row nowrap;
  gap: 4px 8px;
  text-decoration: none;
  color: inherit;
}

.variantIcon {
  grid-area: icon;
}

.variantTitle {
  grid-area: title;
  color: var(--color-text-light);
  margin: 0;
}

.variantDescription {
  grid-area: description;
  margin: 0;
}

.heading {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

.link {
  text-decoration: none;
  color: var(--color-text-selected);
}

.link:hover {
  color: var(--color-text-selected-hover);
}

.tabContent {
  display: flex;
  width: 320px;
  max-width: 100%;
  padding: 8px;
  box-sizing: border-box;
  flex: 1 1;
}

.patchEditor {
  flex: 1 1;
}
