.container {
  position: fixed;
  z-index: 9999;
  inset: 16px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: column nowrap;
  gap: 4px;
}

.item {
  display: flex;
  flex-flow: column nowrap;
  max-width: 300px;
  width: 100%;
  padding: 8px;
  gap: 4px;
  background: var(--color-background);
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
}

.messageBoxMessage {
  max-width: 300px;
  margin: 0;
}
