.postPreview {
  flex-flow: column nowrap;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.infoWrapper {
  padding: 2px;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  padding: 4px;
  justify-content: space-between;
}

.image {
  max-width: 100%;
}

.setContainer {
  display: flex;
  flex-flow: row wrap;
  padding: 4px;
  gap: 3px;
  box-sizing: border-box;
}

.setItem {
  width: calc(50% - 2px);
  height: auto;
  box-sizing: border-box;
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rating {
  color: var(--color-text-light);
  flex-shrink: 0;
}
