.container {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  justify-content: space-between;
  cursor: default;
  text-decoration: none;
  color: inherit;
  gap: 3px;
  max-width: 324px;
  overflow: hidden;
}

.image {
  flex-grow: 0;
  max-height: calc(100% - 33px);
}

.info {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  padding: 4px;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  min-height: 30px;
  box-sizing: border-box;
  z-index: 1;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
}

.request {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 4px;
  text-align: center;
  text-wrap: balance;
  flex-basis: 100%;
  gap: 4px;
}

.requestText {
  margin: 0;
}

.requestUser {
  color: var(--color-text-light);
  margin: 0;
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.engagement {
  color: var(--color-text-light);
  flex-shrink: 0;
  margin-left: 4px;
}

.publishedIcon {
  margin-left: 4px;
  flex-shrink: 0;
}

.attributes {
  position: absolute;
  top: -29px;
  left: 2px;
  right: 2px;
  display: inline-grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: 'addon icons';
  flex-flow: row nowrap;
  gap: 4px;
  overflow: hidden;
}

.icons {
  grid-area: icons;
  display: inline-flex;
  flex-flow: row nowrap;
}

.addon {
  grid-area: addon;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px black;
  color: var(--color-text-light);
  white-space: nowrap;
  margin: 2px 0 0 2px;
  overflow: hidden;
}

.description {
  overflow: hidden;
  flex: 1 1 auto;
  width: 200%;
  column-count: 2;
  column-fill: auto;
}
