.container {
  flex-grow: 1;
  display: grid;
  height: 100%;
  padding: 8px;
  margin: 0 -2px -2px -2px;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'parameters'
    'posts';
  overflow-y: auto;
  /* Make scroller composited for faster scrolling,
    * the downside of that is that on lower
    * end devices Browser will scroll first and
    * then render DOM, making some content flash white.
    */
  will-change: transform;
}

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 16px;
  padding: 6px 8px;
}

.fieldset {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;
  padding: 0;
  margin: 0;
  border: none;
}

.parameters {
  grid-area: parameters;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  gap: 12px;
  padding: 12px;
  flex-shrink: 0;
}

.presets {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  gap: 4px;
  padding: 0;
  margin: 0;
  border: none;
}

.showParameters {
  flex-shrink: 0;
}

.posts {
  grid-area: posts;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  /* Make scroller composited for faster scrolling,
    * the downside of that is that on lower
    * end devices Browser will scroll first and
    * then render DOM, making some content flash white.
    */
  will-change: transform;
}

.selectWrapper {
  display: inline-block;
  max-width: 100%;
}

.select {
  align-self: baseline;
  width: 100%;
}

@media only screen and (min-width: 812px) {
  .container {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'parameters posts';
    padding: 0 8px 8px 8px;
    overflow: hidden;
    flex-grow: 1;
    margin: 0;
    border: none;
  }

  .posts,
  .parameters {
    overflow: hidden auto;
  }
}
