.container {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  /* Compensate column width rounding shift with container's right padding */
  padding: 4px 0 4px 4px;
  box-sizing: border-box;
  /* Make scroller composited for faster scrolling,
       * the downside of that is that on lower
       * end devices Browser will scroll first and
       * then render DOM, making some content flash white.
       */
  will-change: transform;
}

.label {
  color: var(--color-text-light);
  padding: 4px;
  margin: 0;
  text-align: center;
}

.virtualItem {
  padding: 4px;
  outline: none;
}

.item {
  height: 100%;
}
