.virtualContainerWrapper {
  /* Compensate column width rounding shift with container's right padding */
  padding: 8px 0 8px 8px;
}

.virtualToolbar {
  padding: 8px;
}

.virtualItem {
  padding: 4px;
  outline: none;
}

.item {
  height: 100%;
}
