.container {
  flex-grow: 1;
  display: grid;
  height: 100%;
  padding: 8px;
  margin: 0 -2px -2px -2px;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'main' 'posts' 'comments';
  overflow-y: auto;
}

.main {
  grid-area: main;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 8px;
}

.posts {
  grid-area: posts;
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  padding: 8px;
}

.postHighlights {
  justify-content: center;
}

.comments {
  grid-area: comments;
  padding: 8px;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 240px;
}

.avatar {
  max-width: min(240px, 100%);
  align-self: center;
}

.titles {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  text-align: center;
  text-wrap: balance;
}

.title {
  color: var(--color-text-light);
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.titleRu {
  margin: 0;
}

.roles {
  margin: 0;
}

.id {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4px;
  width: 100%;
}

.goldIcon {
  margin-right: 4px;
  vertical-align: text-top;
}

.links {
  margin: 0;
  text-wrap: balance;
  text-align: center;
  line-height: 1.5;
}

.link {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  color: var(--color-text-selected);
}

.linkAvatar {
  width: 20px;
  margin-right: 4px;
  vertical-align: sub;
}

.link:hover {
  color: var(--color-text-selected-hover);
}

.icon {
  margin-right: 4px;
}

.tableIcon {
  vertical-align: baseline;
}

.talkedToTelegramBot {
  margin: 0;
  text-align: center;
}

.fallbackText {
  margin: 0;
  color: var(--color-text-light);
  align-self: center;
}

@media only screen and (min-width: 812px) {
  .container {
    grid-template-columns: minmax(var(--size-panel-min-width), 1fr) 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'main comments posts';
    overflow: hidden;
    padding: 0 8px 8px 8px;
    margin: 0;
    border: none;
  }

  .postHighlights {
    justify-content: flex-start;
  }

  .main,
  .comments,
  .posts {
    overflow-y: auto;
  }
}
